<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="icon" href="instagram-6338393_1280.webp" type="image/png">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <style>
        .v-application {
            background-color: black !important;
            color: white !important;
            padding: 0px !important;
        }

        .buttonlar {
            background-color: #262626 !important;
            text-align: start !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container fluid fill-height>
                <v-row justify="center " style="height: 100%;">
                    <v-col cols="12" class="d-flex justify-start align-start" style="text-align: center; ">
                        <v-col cols="4 "class="px-0 py-0" style="text-align: start;  height: 100%;">
                            <v-col cols="6" style="border-right: solid 1px #212529; height: 100%;">
                                <v-col>
                                    <h5 style="text-align: start;"><i data-visualcompletion="css-img"
                                            aria-label="Instagram" class="" role="img"
                                            style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v4/yB/r/E7m8ZCMOFDS.png&quot;); background-position: 0px 0px; background-size: auto; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
                                    </h5>
                                </v-col>
                                <v-col>
                                    <v-btn class="mt-4 black darken-1 white--text justify-start "
                                        style="width: 100%;">Ana
                                        Sayfa</v-btn><v-btn class="mt-4 black darken-1 white--text justify-start "
                                        style="width: 100%;">Ara</v-btn><v-btn
                                        class="mt-4 black darken-1 white--text justify-start "
                                        style="width: 100%;">Keşfet</v-btn><v-btn
                                        class="mt-4 black darken-1 white--text  justify-start"
                                        style="width: 100%;">Reels</v-btn><v-btn
                                        class="mt-4 black darken-1 white--text justify-start "
                                        style="width: 100%;">Mesajlar</v-btn><v-btn
                                        class="mt-4 black darken-1 white--text justify-start "
                                        style="width: 100%;">Bildirimler</v-btn>
                                    <v-btn class="mt-4 black darken-1 white--text  justify-start"
                                        style="width: 100%;">Oluştur</v-btn>
                                    <v-btn class="mt-4 black darken-1 white--text justify-start "
                                        style="width: 100%;">Profil</v-btn>



                                </v-col>
                                <v-col style=" position:sticky; top: 90%; z-index: 9999;">
                                    <v-btn class="mt-4 black darken-1 white--text justify-start "
                                        style="width: 100%;">Threads</v-btn><br>
                                    <v-btn class="mt-4 black darken-1 white--text justify-start "
                                        style="width: 100%;">Daha Fazla</v-btn>
                                </v-col>


                            </v-col>

                        </v-col>
                        <v-col cols="4" class="px-0 py-0" >
                            <template background-color="black" dark>
                                <v-card background-color="black" dark >
                                    <v-col style="width: 100%; border: black;" class="px-0 py-0" >
                                        <v-tabs v-model="tab" background-color="black" dark color="white">
                                            <v-tab value="one">Senin İçin</v-tab>
                                            <v-tab value="two">Takip Ettiklerin</v-tab>
                                        </v-tabs>

                                        <v-card-text style="background-color: black;">
                                            <v-tabs-window v-model="tab">
                                                <v-tabs-window-item value="one" >
                                                    <v-container>
        <v-row v-if="displayedPosts.length">
          <v-col
            v-for="post in displayedPosts"
            :key="post.id"
            cols="12"
            md="6"
          >
            <v-card>
              <v-img :src="post.image" height="200px"></v-img>
              <v-card-title>{{ post.user }}</v-card-title>
              <v-card-subtitle>{{ post.date }}</v-card-subtitle>
              <v-card-text>{{ post.description }}</v-card-text>
              <v-card-actions>
                <v-btn icon><v-icon color="blue">mdi-thumb-up</v-icon></v-btn>
                <span>{{ post.likes }}</span>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <p v-else>Postlar yükleniyor...</p>
      </v-container>
                                                </v-tabs-window-item>
                                            </v-tabs-window>
                                    </v-col>
                                    </v-card->
                                </v-card>
                            </template>


                        </v-col>
                        <v-col cols="4">
                            <v-col class="d-flex align-center text-center ">
                                <v-btn text class="d-flex align-center  white--text width-100 ">
                                    <v-avatar size="32" class="mr-2">
                                        <img src="insan ikonu.png" alt="Profil">
                                    </v-avatar>
                                    Ünal Kablo
                                </v-btn>
                                <p style="font-size: 14px; color:aquamarine  ">geçiş yap </p>
                            </v-col>
                            <v-col style="width: 100%; display: flex;  align-items: center;">
                                <p style="color: #262626; font-size: 12px; text-align: start; width: 30%;"><strong>
                                        Senin İçin Önerilenler </strong></p>
                                <p style="font-size: 12px; text-align:center; ">Tümünü gör</p>
                            </v-col>
                            <v-col class="d-flex align-center text-center ">
                                <v-btn text class="d-flex align-center  white--text width-100 ">
                                    <v-avatar size="32" class="mr-2">
                                        <img src="insan ikonu.png" alt="Profil">
                                    </v-avatar>
                                    Ünal Kablo
                                </v-btn>
                                <p style="font-size: 14px; color:aquamarine  ">geçiş yap </p>
                            </v-col>
                            <v-col class="d-flex align-center text-center ">
                                <v-btn text class="d-flex align-center  white--text width-100 ">
                                    <v-avatar size="32" class="mr-2">
                                        <img src="insan ikonu.png" alt="Profil">
                                    </v-avatar>
                                    Ünal Kablo
                                </v-btn>
                                <p style="font-size: 14px; color:aquamarine  ">geçiş yap </p>
                            </v-col>
                            <v-col class="d-flex align-center text-center ">
                                <v-btn text class="d-flex align-center  white--text width-100 ">
                                    <v-avatar size="32" class="mr-2">
                                        <img src="insan ikonu.png" alt="Profil">
                                    </v-avatar>
                                    Ünal Kablo
                                </v-btn>
                                <p style="font-size: 14px; color:aquamarine  ">geçiş yap </p>
                            </v-col>
                            <v-col class="d-flex align-center text-center ">
                                <v-btn text class="d-flex align-center  white--text width-100 ">
                                    <v-avatar size="32" class="mr-2">
                                        <img src="insan ikonu.png" alt="Profil">
                                    </v-avatar>
                                    Ünal Kablo
                                </v-btn>
                                <p style="font-size: 14px; color:aquamarine  ">geçiş yap </p>
                            </v-col>
                            <v-col class="d-flex align-center text-center ">
                                <v-btn text class="d-flex align-center  white--text width-100 ">
                                    <v-avatar size="32" class="mr-2">
                                        <img src="insan ikonu.png" alt="Profil">
                                    </v-avatar>
                                    Ünal Kablo
                                </v-btn>
                                <p style="font-size: 14px; color:aquamarine  ">geçiş yap </p>
                            </v-col>
                            <p style="font-size: 12px; text-align: left; color: #212529;"> <br>Hakkında
                                Yardım
                                Basın
                                API
                                İş Fırsatları
                                Gizlilik<br>
                                Koşullar
                                Konumlar
                                Dil
                                Meta Verified<br>
                                © 2025 Instagram from Meta</p>



                        </v-col>

                    </v-col>
                </v-row>



            </v-container>

        </v-app>


    </div>

</body>
 <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          posts: [
            {
              id: 1,
              user: "Ünal Kablo",
              image: "https://example.com/image1.jpg",
              description: "Bu bir örnek açıklama 1",
              date: "2025-05-09T08:23:00",
              likes: 128
            },
            {
              id: 2,
              user: "Ünal Kablo",
              image: "https://example.com/image2.jpg",
              description: "Bu bir örnek açıklama 2",
              date: "2025-05-09T08:23:00",
              likes: 256
            }
          ],
          displayedPosts: [] // başta boş ama sayfa açılınca dolacak
        }
      },
      mounted() {
        // Sayfa yüklendiğinde otomatik çalışır
        this.displayedPosts = this.posts;
      }
    });
  </script>

</html>

